- require_js("new.js")
%h2 Add a Num
- Merb.logger.debug("errors=#{@num.errors.full_messages.join}")
- unless @num.errors.empty?
  %ul.errors
    - @num.errors.full_messages.each do |error|
      %li= error
- form_for(:num, :action => url(:action => "new")) do
%table
  %tr
    %th Value
    %td= text_control(:value)
  %tr
    %th Relevant At
    %td
      = text_control(:relevant_at) 
      = image_tag("calendar_date_select/calendar.gif", :id => "relevant_at_cal")
  %tr
    %th Link
    %td= text_control(:link)
  %tr
    %td/
    %td= submit_field
- end

