!!!
%html
  %head
    = css_include_tag "calendar_date_select/default"
    = js_include_tag "prototype"
    = js_include_tag "calendar_date_select/calendar_date_select"
    = include_required_js
  %body
    %h1 Numz
    #notice= flash[:notice] || ""
    .nav
      %a{:href => url(:controller => "nums", :action => "new")} New
      %a{:href => url(:controller => "nums", :action => "list")} List
    .body= catch_content :for_layout
